@(title: String)(content: Html)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <style>
          .error { fill: #ef3d55; }
          .running { fill: #59c1a7; }
          .scheduledForRetry { fill: #34c3f2; }
          .completed { fill: #6a266d; }
          .scheduled { fill: #ccc; }
        </style>
    </head>
    <body class="blue-grey lighten-4">
        @content



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
